.UserAvatar {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.LoadingSpokes {
    width: 100%;
    height: 100%;
    fill: #ccc;
}

.AvatarImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}