body {
  margin: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.app{
  max-width: 1024px;
  margin: 0 auto;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
}

/* Dialog */

.react-aria-Dialog {

  .react-aria-Heading {
    font-size: 1.2rem;
  }

  .react-aria-TextField {
    margin-top: 0.5rem;
    .react-aria-Input{
      width: 20rem;
      margin-left: 0.5rem;
    }
  } 
   .create-link-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--visual-viewport-height);
  width: 100vw;
  background: rgba(0 0 0 / .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-aria-Modal {
  background: white;
  padding: 30px;
}

/* Switch */

.react-aria-Switch {
  --label-color: black;
  --deselected-color: gray;
  --deselected-color-pressed: dimgray;
  --selected-color: slateblue;
  --selected-color-pressed: lch(from slateblue calc(l - 10%) c h);
  --track-color: white;
  --indicator-color: var(--selected-color);
  --indicator-color-pressed: var(--selected-color-pressed);

  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--label-color);
  

  .indicator {
    width: 2rem;
    height: 1.143rem;
    border: 2px solid var(--deselected-color);
    background: var(--track-color);
    border-radius: 1.143rem;
    transition: all 200ms;

    &:before {
      content: '';
      display: block;
      margin: 0.143rem;
      width: 0.857rem;
      height: 0.857rem;
      background: var(--indicator-color);
      border-radius: 16px;
      transition: all 200ms;
    }
  }

  &[data-pressed] .indicator {
    border-color: var(--deselected-color-pressed);

    &:before {
      background: var(--indicator-color-pressed);
    }
  }

  &[data-selected] {
    .indicator {
      border-color: var(--selected-color);
      background: var(--selected-color);

      &:before {
        background: var(--track-color);
        transform: translateX(100%);
      }
    }

    &[data-pressed] {
      .indicator {
        border-color: var(--selected-color-pressed);
        background: var(--selected-color-pressed);
      }
    }
  }

  &[data-focus-visible] .indicator {
    box-shadow: 0 0 0 2px var(--track-color), 0 0 0 4px var(--selected-color);
  }

  &[data-disabled] {
    opacity: 0.4;
  }
}
/* Table */
.react-aria-Table {
  --border-color: gray;
  --background-color: white;
  --text-color: black;
  --text-color-disabled: gray;

  padding: 0.3rem;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  outline: none;
  border-spacing: 0;
  width: 100%;
  min-height: 100px;
  align-self: start;

  .react-aria-TableHeader {
    &:after {
      content: '';
      display: table-row;
      height: 2px;
    }

    & tr:last-child .react-aria-Column {
      border-bottom: 1px solid var(--border-color);
      cursor: default;
    }
  }

  .react-aria-Column {
    &[colspan] {
      text-align: center;
    }

    .sort-indicator {
      padding: 0 2px;
    }

    &[aria-sort=none] .sort-indicator {
      visibility: hidden;
    }
  }

  .react-aria-TableBody {
    &[data-empty] {
      text-align: center;
      font-style: italic;
    }
  }

  .react-aria-Row {
    outline: none;
    cursor: default;
    color: var(--text-color);
    font-size: 1rem;
    position: relative;
    transform: scale(1);
  }

  .react-aria-Cell,
  .react-aria-Column {
    padding: 4px 8px;
    text-align: left;
    outline: none;
  }

}