[data-us3r-useravatar] {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

[data-us3r-useravatar]>img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}