.UserTags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  width: 360px;
  box-sizing: border-box;
  background: #1b1e23;
  border-radius: 20px;
}

.Heading {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CountBox {
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  color: #ffffff;
}

.AddIcon {
  fill: #ffffff;
  cursor: pointer;
}

.LoadingSpokes {
  width: 24px;
  height: 24px;
  fill: #ccc;
}

.List {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Item {
  padding: 10px 20px;
  background: #1a1e23;
  border: 1px solid #39424c;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  box-sizing: border-box;
  height: 36px;
  color: #718096;

  &[data-focused] {
    outline: none;
  }
}