.ScoresAvg {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bolder;
  font-size: 15px;
  color: #cf9523;
}

.LoadingSpokes {
  width: 24px;
  height: 24px;
  fill: #ccc;
}